.classpath.orig
.classpath~
.gradle/
.idea/.name
.idea/caches/
.idea/codeStyles/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/tunesviewer-android.iml
.idea/vcs.xml
.idea/workspace.xml
.settings/
bin/
build/
gen/
gradle/
gradlew
gradlew.bat
local.properties
tunesviewer-android.iml

