<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tunes.viewer"
      android:versionCode="4" android:versionName="0.4">
      <!-- Android tablet compatibility -->
<uses-sdk android:minSdkVersion="1" 
              android:targetSdkVersion="11" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".TunesViewerActivity"
                  android:label="@string/app_name" android:configChanges="orientation" android:debuggable="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
              <intent-filter>
                     <action
 android:name="android.intent.action.VIEW"></action>
                     <category
 android:name="android.intent.category.DEFAULT"></category>
                     <category
 android:name="android.intent.category.BROWSABLE"></category>
                    <data android:scheme="itms"/>
                    <data android:scheme="itmss"/>
                </intent-filter>
        </activity>
	    <activity android:name=".Player" />
	    <activity android:name=".DownloadViewer" />
	    <activity android:name=".PrefsActivity" />  
		<activity android:name=".Searcher" android:windowSoftInputMode="stateVisible"/>
		<service android:name="DownloadService"></service>
    </application>
    
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>